@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&family=Raleway:wght@200&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-container {
    background: linear-gradient(146deg, #242121 0%, #413e3e 50%);
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    gap: 30px;
}

#header-container h1 {
    font-size: 50px;
    color: #92a9ad;
}

#header-container img {
    width: 100px;
}

#main-container {
    background: linear-gradient(146deg, #ebe7e7 0%, #d0d0d1 50%);
    padding: 40px 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search {
    background: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid #4e4e4e;
    border-radius: 20px;
    padding: 10px 50px 10px 15px;
    font-family: 'Raleway';
    font-weight: bold;
    outline: none;
}

.profiles {
    margin-top: 80px;
    width: 500px;
    position: relative;
    z-index: 10;
}

.profile {
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(219, 215, 215, 0.75);
    width: 500px;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    font-family: 'Montserrat';
    overflow: hidden;
}

.profile-2 {
    background-color: rgb(240, 240, 240);
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    z-index: -10;
    box-shadow: 0px 10px 20px 0px rgb(145, 145, 145);
}

.profile-3 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    height: 20px;
    border-radius: 5px;
    z-index: -20;
    box-shadow: 0px 10px 20px 0px rgb(168, 168, 168);
}

.profile img {
    max-width: 40%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    padding: 30px;
}

.profile-details h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'Pacifico';
}

.profile-details .nick_and_location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit-btn {
    text-decoration: none;
    margin-top: 20px;
    align-self: center;
    background-color: #272730;
    color: white;
    font-size: 30px;
    padding: 0 25px;
    border: 3px solid #272730;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.19), 0px 3px 3px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    z-index: 50;
}

.visit-btn:hover {
    background-color: white;
    color: #272730;
}

#credits {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    z-index: 10000;
}

#credits:hover span {
    color: rgb(177, 85, 32)
}