* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    --primary-color: rgb(199, 229, 247);
    --container-main: #fff;
    --input-field: #eee;
}

body {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--container-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 50px;
    border-radius: 10px;
    padding: 40px 20px;
}

.container h1 {
    letter-spacing: 2px;
}

.container-input {
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

.container-input .form-element {
    height: 30px;
}

.form-element input {
    background-color: var(--input-field);
    width: 350px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
}

.form-element button {
    background-color: var(--primary-color);
    height: 100%;
    width: 100px;
    border: none;
    cursor: pointer;
}

.container-input ul {
    margin: 25px 10px;
}

.container-input ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.list-button {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.edit {
    background-color: lawngreen;
}

.delete {
    background-color: crimson;
}

.clear-button {
    color: crimson;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.display-none {
    display: none;
}

@media (max-width: 1000px) {
    .form-element input {
        width: 300px;
    }
}