@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito+Sans:wght@600&family=Montserrat:wght@600&display=swap');
@import url('https://css.gg/close-r.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    margin: 50px 0 100px 0;
}

#container {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(112, 177, 243);
}

.note {
    position: relative;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    background-color: white;
    box-shadow: 5px 5px 15px rgb(75, 72, 72), 0px 0px 5px rgb(75, 72, 72);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
}

.note p{
    font-size: 30px;
    margin: 40px 20px 20px 20px;
    max-width: 460px;
    flex: 1;
    align-self: flex-start;
    overflow-y: auto;
}

.del-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    background-color: transparent;
    border: none;
}

.edit-btn {
    color: white;
    font-size: 30px;
    padding: 10px 50px;
    background-color: rgb(241, 183, 23);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 25px;
}

.edit-btn:hover {
    color: rgb(241, 183, 23);
    background-color: white;
    border: 3px solid rgb(241, 183, 23);
}

.add-btn {
    color: white;
    font-size: 30px;
    padding: 10px 50px;
    background-color: rgb(151, 238, 64);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 70px;
}

.add-btn:hover {
    color: rgb(151, 238, 64);
    background-color: white;
    border: 3px solid rgb(151, 238, 64);
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 575px;
    max-width: 80%;
    min-height: 300px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(75, 72, 72), 0px 0px 5px rgb(75, 72, 72);
    z-index: 10;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#modal textarea {
    font-size: 30px;
    border: none;
    outline: none;
    resize: none;
    width: 85%;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 30px;
}

/* making the background of the modal darker */
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    /* dont capture other events */
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#credits {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#credits:hover span {
    color: rgb(177, 85, 32)
}