@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Indie+Flower&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

#header-container {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    font-size: 40px;
}

#main-container {
    color: rgb(100, 100, 100);
    font-family: 'Montserrat', sans-serif;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-header {
    display: flex;
    justify-content: space-between;
}

.timer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.question-container {
    margin-top: -30px;
    padding: 25px;
    background-color: white;
    width: 500px;
    box-shadow: 5px 5px 15px rgb(190, 190, 190), 0px 0px 5px rgb(230, 230, 230);
    border-radius: 5px;
}

.question-title {
    font-size: 18px;
    color: rgb(200, 200, 200);
}

.question {
    margin: 15px 0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.answer {
    margin: 10px 0;
    padding: 5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
}

.answer span {
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.answer:hover {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    cursor: pointer;
}

.chosen-answer {
    background-color: #f1de6e;
    background-image: linear-gradient(315deg, #ebe4ad 0%, #dfae28 74%);
}


.answer-button {
    margin: 30px 0;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #d99ec9;
    cursor: pointer;
}

.answer-button:hover {
    background-color: white;
    border: 2px solid #d99ec9;
    color: #d99ec9;
}