* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.drawing-area {
    border: 1px solid darkblue;
}

.menu {
    background-color: darkblue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-size {
    display: flex;
    align-items: center;
}

.menu-size button {
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.menu-size span {
    padding: 7px 15px;
    margin: 0 10px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu-colors {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color {
    width: 30px;
    height: 30px;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.grey {
    background-color: grey;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}